.i {
    display: flex;
    background-color: #b8f0f2;
  }
  
  .i-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 45px;
  }
  
  .i-right {
    margin-top: 40px;
    margin-bottom: 45px;
    position: relative;
  }
  
  .i-left-wrapper {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .i-intro {
    font-size: 30px;
    font-weight: 300;
    color: #56b0c2;
  }
  
  .i-name {
    font-size: 50px;
    color: #2eb0c7;
    
  }
  
  .i-title-wrapper {
    display:flex;
    animation: move 3s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
  }
  
  @keyframes move {
    
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(10px);
    }
    
    
  }
  
  .i-title-item {
    font-size: 30px;
    font-weight: bold;
    color: #0492ac;
    display: flex;
    align-items: center;
  }
  
  .i-scroll {
    position: absolute;
    bottom: 20px;
  }
  
  .i-img {
    width: 90%;
    height: 75%;
    margin-left: 41px;
    /* object-fit: cover;
  position: absolute; */
    
    
  }
  
  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
     
    }
  
    .i-desc{
      display: none;
      color: #04d2f7;
    }

    .i-links{
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-evenly;
      margin-top: -90px;
    }
    
  }
  