.i {
    display: flex;
    height: 100vh;
  }
  
  .i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    flex: 1;
    position: relative;
  }
  
  .i-left-wrapper {
    padding-left: 90px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .i-intro {
    font-size: 30px;
    font-weight: 300;
    margin-top: -55px;
    color: #56b0c2;
  }
  
  .i-name {
    font-size: 50px;
    color: #2eb0c7;
    
  }
  
  .i-title {
    height: 50px;
    overflow: hidden;
  }
  
  .i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    
    50% {
      transform: translateY(-60px);
    }
    100% {
      transform: translateY(-110px);
    }
    
    
  }
  
  .i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #0492ac;
    display: flex;
    align-items: center;
  }
  
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }
  
  .i-img {
    margin-top: 75px;
    width: 90%;
    height: 75%;
    margin-left: 41px;
    /* object-fit: cover;
  position: absolute; */
    
    
  }
  
  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
      color: #04d2f7;
    }
    
  }
  